h1, h2, h3{
    font-family: 'Lobster', cursive;
}
*{
    font-family: 'Balsamiq Sans', cursive;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .icon-home{
    position: absolute;
    top: 18vh;
    left: 49%;
    z-index: 95;
  }


  footer{
      background-color: rgb(65, 65, 65);
      color: white;
  }

  .sezione{
    width: 100%;
     background: linear-gradient(white 5%, transparent, white 85%), url(./media/letter.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      
  }

  section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
  }

  .icon i, a{
      color: black !important;
      text-decoration: none;
  }

  .icon a:hover{
      text-decoration: none;
  }

  .card-custom{
      box-shadow: 0px 12px 20px -1px rgba(0,0,0,0.7);
    

  }

  .card-custom:hover{
      box-shadow: none;
      transition: 0.5s !important;
  }
  
  .img-front{
      height: 270px;
      width: 270px;
  }

.navbar-fixed-top{
  position: fixed;
  top: 0;
  background-color:transparent;
  display: none;
  z-index: 99;
  }

  .navbar-fixed-top2{
    position: fixed;
    top: 0;
    background-color:white;
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.3);
    z-index: 99;
    }


  .navbar-fixed-top.scrolled {
    display: inline;
    background-color: #fff !important;
    transition-delay: 800ms;
    transition: background-color 500ms linear;
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.3);
    
  }

  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
    .card {
      flex: 0 0 auto;
    }

    .slider-i {
      flex: 0 0 auto;
    }
 
    #navbarToggleExternalContent-costum{
      position: relative;
      bottom: 0vh;
    }

    .nav-link{
      color: white !important;
    }
    
    .navbar-brand{
      color: white !important;
    }


    /* CSS used here will be applied after bootstrap.css */
.ekko-lightbox-nav-overlay a {
  color: goldenrod;
}
.gallery-title {
  text-align: center;
font-weight: 500;
border-bottom: 1px dotted orange;
margin-top: 1em;
}

    
.img-gallery{
  
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  iframe{
    width: 100%;
    height: 120%;
  }
}


@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(222,63,0,0.5); 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.input-mail{
  width: 50%;
  z-index: 5;
}
li a{
  color: white !important;
}

.logob{
  filter: invert(100);
}
